<script type="text/javascript" src="<%= cdnUrl %>/dist/vendor/react.min.js"></script>
<script type="text/javascript" src="<%= cdnUrl %>/dist/vendor/react-dom.min.js"></script>

<script type="text/javascript" src="<%= cdnUrl %>/dist/router.bundle.js"></script>
<script type="text/javascript" src="<%= cdnUrl %>/dist/vote.bundle.js"></script>

</body>
</html>