<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimal-ui" />
<title>Let's Vote</title>
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

a:hover{
	text-decoration: none;
}
.transition-wrapper{
	position: relative;
	text-align: center;
}

.transition-wrapper .homepage,
.transition-wrapper .listpage,
.transition-wrapper .newpage,
.transition-wrapper .detailpage{
	width: 100%;
  position: absolute;
}
.transition-wrapper .listpage,
.transition-wrapper .newpage,
.transition-wrapper .detailpage{
	margin: 2%;
  width: 96%;
}
.navbar, .panel{
	border-radius: 0px;
}
button{
	border-radius: 3px!important;
}
.panel{
	border-bottom: 3px;
}

@-webkit-keyframes uil-ellipsis {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
@keyframes uil-ellipsis {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    left: 0px;
    opacity: 1;
  }
  12.5% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    left: 0px;
  }
  37.5% {
    left: 70px;
  }
  50% {
    left: 70px;
  }
  62.5% {
    left: 140px;
  }
  75% {
    left: 140px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  87.5% {
    left: 140px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    left: 140px;
    opacity: 0;
  }
}
.uil-ellipsis-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ellipsis-css .ib {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.uil-ellipsis-css .circle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 70px;
  opacity: 0;
  text-align: center;
  -webkit-animation: uil-ellipsis 1s linear infinite;
  animation: uil-ellipsis 1s linear infinite;
}
.uil-ellipsis-css .circle > div {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 0px;
}
.uil-ellipsis-css .circle:nth-of-type(2n+1) > div {
  background: #403d3d;
}
.uil-ellipsis-css .circle:nth-of-type(2n) > div {
  background: #808a80;
}
.circle:nth-of-type(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.circle:nth-of-type(2) {
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.circle:nth-of-type(3) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.circle:nth-of-type(4) {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}

</style>
</head>

<body>
<script type="text/javascript">

	var userInfo = {
		name: '',
		avatar: ''
	}

</script>