<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title>Let's Vote</title>
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
html, body{
	height:100%;
}
a:hover{
	text-decoration: none;
}
#app, #app>div{
	height:100%;
}
.transition-wrapper{
	position: relative;
	height:100%;
}
.transition-wrapper > div{
  position: absolute;
  width: 100%;
  height:100%;
}
.navbar{
	border-radius: 0px;
}
.panel{
	border-bottom: 3px;
}
</style>
<body>